body {
  background: #e0e8ff;
  display: block;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100%;
}

.main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/images/pattern-background-desktop.svg") no-repeat;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main .order-summary {
  background-color: #fff;
  border-radius: 10px;
  display: block;
  overflow: hidden;
  width: 350px;
}

.main .order-summary .order-summary__header img {
  height: auto;
  width: 100%;
}

.main .order-summary section {
  padding: 30px;
  text-align: center;
}

.main .order-summary section h2 {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 900;
}

.main .order-summary section .order-description {
  margin-bottom: 15px;
  font-size: .9rem;
  font-weight: 400;
  color: #767676;
  line-height: 1.3;
}

.main .order-summary section .order-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f7ff;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin-bottom: 30px;
}

.main .order-summary section .order-list div {
  text-align: left;
  padding-left: 5px;
  line-height: 1.5;
}

.main .order-summary section .order-list span {
  color: #767676;
  padding: 0;
  font-size: .8reme;
}

.main .order-summary section .order-list a {
  color: #3829e0;
}

.main .order-summary section .order-list a:hover {
  text-decoration: none;
}

.main .order-summary section .btn {
  border: none;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0px;
}

.main .order-summary section .btn-order {
  background-color: #3829e0;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

.main .order-summary section .btn-cancel {
  background-color: #fff;
  color: #767676;
}

.main .order-summary section .btn-cancel:hover {
  color: #000;
}

.attribution {
  bottom: 10px;
}

.attribution a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}
/*# sourceMappingURL=style.css.map */