body {
    background: hsl(225, 100%, 94%);
    display: block;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100%;
}

.main {
    align-items: center;
    background: url('/images/pattern-background-desktop.svg') no-repeat;
    display: grid;
    height: 100vh;
    justify-content: center;
    width: 100%;

    .order-summary{
        background-color: #fff;
        border-radius: 10px;
        display: block;
        overflow: hidden;
        width: 350px;

        .order-summary__header {
            img{
                height: auto;
                width: 100%;
            }
        }
        section {
            padding: 30px;
            text-align: center;
            h2 {
                margin-bottom: 15px;
                font-size: 1.4rem;
                font-weight: 900;
            }

            .order-description {
                margin-bottom: 15px;
                font-size: .9rem;
                font-weight: 400;
                color: #767676;
                line-height: 1.3;
            }

            .order-list {
                align-items: center;
                background-color: hsl(225, 100%, 98%);
                border-radius: 5px;
                display: flex;
                padding: 15px;
                margin-bottom: 30px;

                div{
                    text-align: left;
                    padding-left: 5px;
                    line-height: 1.5;
                }

                span {
                    color: #767676;
                    padding: 0;
                    font-size: .8reme;
                }

                a {
                    color:hsl(245, 75%, 52%);
                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .btn {
                border: none;
                width: 100%;
                margin-bottom: 15px;
                padding: 10px 0px;
            }

            .btn-order {
                background-color:hsl(245, 75%, 52%);
                border-radius: 5px;
                color: #fff;
                font-weight: 700;
            }

            .btn-cancel {
                background-color: #fff;
                color: #767676;
                &:hover {
                    color: #000;
                }
            }

        }
    }

}

.attribution {
    bottom: 10px;
    a {
        text-decoration-line: none;
    }
}
